{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <h2>Logged User : {% if app.user.username is defined and app.user.username is not null %}{{ app.user.username }}{% endif %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Password</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}">Create new Users</a>
    <h1>Admins</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Password</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
                <td>{{ admin.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Products Table</h1>
    <table class="table">
        <tbody>
        {% for product in products %}
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
